body{
    margin-top: 18%;
    text-align: center;
}

div{
    float:right;
    position:absolute;
    top: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
}


h1{
    color:rgb(135, 194, 242);
    font-size: 70px;

}

input.name{
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
}
input.search{
    width: 30%;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

