body{
    margin-top: 20%;
    text-align: center;
}

h1{
    color:red;
    font-size: 70px;
}

input.name{
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
}
input.search{
    width: 30%;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

